.App {
  display:flex;
  justify-content:center;
  flex-direction:column;
  text-align:center;
}

.Label{display:block;
  opacity: 0.4;
}
label{
  opacity:0.4;
}

.Button{
  float:right;
  margin-right:5px;
  border-radius:10px;
}